/* -------------galery -------------*/

.wel_central {
	background: #f8f9f9;
	width: 1349px;
	height: 1327px;
	display: block;
	text-align: left;
	margin: 0;
	padding: 0;
	padding-top: 55px;
}
.container2 {
	width: 1170px;
	height: 1327px;
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px;
	min-width: 300px;
}
.rov2 {
	width: 1200px;
	height: 120px;
	display: flex;
	flex: 0 1 auto;
	flex-direction: row;
	margin-left: -15px;
	margin-right: -15px;
}
.photogal {
	width: 370px;
	height: 120px;
	padding-left: 15px;
	padding-right: 15px;
}
.gallery {
	font-size: 40px;
	line-height: 1.2;
	color: #1d252b;
	font-family: 'Palatino';
	display: block;
	text-transform: uppercase;
	font-weight: 400;
}
.bigline {
	width: 770px;
	height: 120px;
	position: absolute;
	padding-left: 400px;
}
.absolute-line {
	width: 800px;
	height: 2px;
	bottom: 47px;
	position: absolute;
}
hr {
	height: 2px;
	width: 100%;
	display: inline-block;
	background: #dedede;
	border: none;
	margin: 0;
}
.photogallery {
	width: 1200px;
	height: 1132px;
	margin-left: -15px;
	margin-right: -15px;
}
.rov3-col-right {
	width: 370px;
	height: 729px;
	padding-left: 15px;
	padding-right: 15px;
	float: left;
}
.has-image {
	width: 370px;
	height: 729px;
	position: relative;
	display: block;
	overflow: hidden;
	text-decoration: none;
}
.has-image:hover .overlay {
	opacity: 1;
	background: rgba(168,168,168,0.4);
	width: 100%;
}
.overlay {
	width: 370px;
	height: 729px;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	text-align: center;
}
.fa {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
}

.rov3-col-central {
	width: 470px;
	height: 729px;
	padding-left: 15px;
	padding-right: 15px;
	float: left;
}
.has-image2 {
	width: 470px;
	height: 376px;
	position: relative;
	display: block;
	overflow: hidden;
}
.has-image2:hover .overlay {
	opacity: 1;
	background: rgba(168,168,168,0.4);
	width: 100%;
}
.has-image2+.has-image2 {
	margin-top: 35px;
}
.rov3-col-left {
	width: 260px;
	height: 729px;
	text-align: right;
	position: relative;
	float: left;
}
.index-list2 {
	width: 251px;
	height: 380px;
	padding-right: 33px;
	color: #d5d8db;
	display: inline-block;
	line-height: 0.80;
	font-family: 'Palatino';
	font-size: 327px;
	font-weight: 700;
	letter-spacing: -31px;
}
.has-image3 {
	position: absolute;
	left: 5px;
	right: 5px;
	bottom: -5px;
	display: block;
	overflow: hidden;
}
.has-image3:hover .overlay {
	opacity: 1;
	background: rgba(168,168,168,0.4);
	width: 100%;
}
.rov3-col-biggest {
	width: 1170px;
	height: 380px;
	margin-top: 33px;
	flex-basis:100%;
	padding-left: 15px;
	padding-right: 15px;
}
.has-image4 {
	width: 1170px;
	height: 370px;
	position: relative;
	display: block;
	overflow: hidden;
}
.image {
	overflow: hidden;
	width: 1145px;
	height: 370px;
}

.image img {
	-moz-transition: all 1s ease-out;
	-o-transition: all 1s ease-out;
	-webkit-transition: all 1s ease-out;
}
.image img:hover {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
	border: 1px solid red;
}

.content-finish {
	width: 1349px;
	height: 920px;
	background-image: url(../images/page01_img08.jpg);
	background-size: cover;
	z-index: -2;
	padding-top: 0.55rem;
	padding-bottom: 0.55rem;
}
.container-finish {
	width: 1170px;
	height: 920px;
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px;
	min-width: 300px;
}
.row-fin {
	width: 1200px;
	height: 920px;
	display: flex;
	flex: 0 1 auto;
	flex-direction: row;
	margin-left: -15px;
	margin-right: -15px;
}
.col-finish {
	flex-basis: 8.33%;
	max-width: 8.33%;
	margin-left: 8.33%;
	padding-right: 15px;
	padding-left: 15px;
	width: 69.984px;
	height: 920px;
}
.v-line-finish {
	width: 2px;
	height: 877px;
	margin-top: 20px;
	display: inline-block;
	background: #fff;
}
.col-text-fin {
	width: 370px;
	height: 920px;
	padding-left: 15px;
	padding-right: 15px;
}
.bigtext {
	width: 370px;
	height: 150px;
	font-size: 47px;
	margin-left: -10px;
	line-height: 2.8;
	color: #1d252d;
	font-family: "Palatino";
	letter-spacing: -2px;
	display: block;
	text-transform: uppercase;
}
.textfin {
	width: 370px;
	height: 270px;
	margin: 0;
	padding: 0;
	font: icon;
	vertical-align: top;
	line-height: 1.5;
	font-weight: 600;
}
.list-number {
	width: 230px;
	height: 380px;
	color: #fff;
	font-size: 400px;
	line-height: 1;
	letter-spacing: -42px;
}

.food-xl {
	width: 1349px;
	height: 619px;
	padding-top: 0.55rem;
	padding-bottom: 0.55rem;
	border: 1px solid black;
}
.container-food {
	width: 1170px;
	height: 619px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
	min-width: 300px;
	border: 1px solid black;
}
.line-h {
	width: 1200px;
	height: 120px;
	display: flex;
	flex: 0 1 auto;
	flex-direction: row;
	margin-left: -15px;
	margin-right: -15px;
	border: 1px solid red;
}
.text-h {
	width: 570px;
	height: 120px;
	padding-right: 15px;
	padding-left: 15px;
}
.text-news {
	width: 550px;
	height: 90px;
	font-size: 67px;
	color: #1d252b;
	font-family: 'Palatino';
	letter-spacing: -5px;
	margin-left: -15px;
	font-weight: 400;
}
.v-line-f {
	width: 570px;
	height: 120px;
	position: relative;
	padding-left: 15px;
	padding-right: 15px;
}
.v-line {
	width: 584px;
	height: 2px;
	position: absolute;
	bottom: 25px;
	display: inline-block;
	background: #dedede;
	margin: 0;
	margin-right: -25px;
}
.offset-5 {
	width: 1200px;
	height: 429px;
	margin-top: 0.7rem;
	display: flex;
	flex: 0 1 auto;
	flex-direction: row;
	flex-wrap: wrap;
	margin-left: -15px;
	margin-right: -15px;
}
.col-relative-left {
	width: 270px;
	height: 429px;
	position: relative;
	padding-right: 15px;
	padding-left: 15px;
	border: 1px solid black;
}
.abs-offset6 {
	width: 370px;
	height: 402px;
	position: absolute;
	margin-top: 56px;
}
.col-relative-centr {
	width: 270px;
	height: 429px;
	text-align: right;
	margin-top: 0;
	padding-left: 15px;
	padding-right: 15px;
	border: 1px solid black;
}
.list-number2 {
	width: 242px;
	height: 353px;
	margin-top: -42px;
	margin-right: 28px;
	color: #d0d9e2;
	line-height: 0.76;
	display: inline-block;
	font-size: 310px;
	letter-spacing: -16px;
}
.col-relatibe-right {
	width: 570px;
	height: 315px;
	padding-bottom: 114px;
	margin-top: 0;
	border: 1px solid black;
}
h5 {
	width: 570px;
	height: 28px;
	font-size: 26px;
	line-height: 1.1;
	font-weight: 700;
	letter-spacing: 1.2px;
	display: block;
	text-transform: uppercase;
}
.text-off {
	width: 570px;
	height: 90px;
	margin-top: 47px;
	font-size: 16px;
}
p+p {
	margin-left: 0;
}
.text-off2 {
	width: 570px;
	height: 120px;
	margin-top: 30px;
	font-size: 16px;
}